.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #f8f9fa;
	border: 5px green solid;
  }

.header-title {
	color: red;
	
}

.header-image {
	max-width: 20%;
}